.so-widget-sow-image-default-3bd076d999e4 .sow-image-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.so-widget-sow-image-default-3bd076d999e4 .sow-image-container > a {
  display: inline-block;
  
  
}
.so-widget-sow-image-default-3bd076d999e4 .sow-image-container .so-widget-image {
  display: block;
  
  
  
}